body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #38bdf8;
    cursor: pointer;
}

button:hover {
    background-color: #0ea5e9;
}
